<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom bp-2">질문 등록</h5>
	<form th:action="@{/question/create}" th:object=${questionForm} method="post">
		<div th:replace="~{form_errors::formErrorsFragment}" />
		<div class="mb-3">
			<label for="subject" class="form-label">제목</label>
			<input type="text" th:field="*{subject}" id="subject" class="form-control">
		</div>
		<div class="mb-3">
		<label for="content" class="form-label">내용</label>
		<textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
		</div>
		<button type="submit" class="btn btn-primary my-2">질문 등록</button>
	</form>
</div>
</html>